In [26]:
import pandas as pd

In [27]:
risk_aversion = catalog.load("risk_aversion")

2023-05-07 14:19:47,693 - kedro.io.data_catalog - INFO - Loading data from 'risk_aversion' (CSVDataSet)...

In [28]:
risk_aversion.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2054 entries, 39 to 2334
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   min_risk_premium_to_bet  2054 non-null   float64
 1   risk_premium_normalised  2054 non-null   float64
 2   risk_aversion            2054 non-null   int64
dtypes: float64(2), int64(1)
memory usage: 64.2 KB

In [29]:
risk_aversion = risk_aversion[['risk_premium_normalised','risk_aversion']]

In [30]:
risk_aversion.head()

       risk_premium_normalised  risk_aversion
SRCID
39                        0.10              1
156                       0.13              1
605                       0.28              1
41                        0.10              1
1295                      0.34              1

In [31]:
target_variable = catalog.load("target_variable")

2023-05-07 14:19:47,752 - kedro.io.data_catalog - INFO - Loading data from 'target_variable' (CSVDataSet)...

In [32]:
target_variable.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2054 entries, 39 to 2334
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Q15a                         1208 non-null   float64
 1   Q15b                         1207 non-null   float64
 2   Q15c                         1208 non-null   float64
 3   Q15d                         1208 non-null   float64
 4   Q15e                         1208 non-null   float64
 5   Q15f                         1208 non-null   float64
 6   Q15g                         1208 non-null   float64
 7   Q15h                         1208 non-null   float64
 8   Q15i                         1207 non-null   float64
 9   gambling_problem             1208 non-null   float64
 10  gambling_problem_normalised  1208 non-null   float64
 11  gambling_problem_binary      1208 non-null   float64
dtypes: float64(12)
memory usage: 208.6 KB

In [33]:
target_variable.head()

,Q15a,Q15b,Q15c,Q15d,Q15e,Q15f,Q15g,Q15h,Q15i,gambling_problem,gambling_problem_normalised,gambling_problem_binary
SRCID,,,,,,,,,,,,
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
605,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,36.0,0.0,0.0
41,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,36.0,0.0,0.0
1295,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,36.0,0.0,0.0

In [34]:
gambling_variety = catalog.load("gambling_variety")

2023-05-07 14:19:47,800 - kedro.io.data_catalog - INFO - Loading data from 'gambling_variety' (CSVDataSet)...

In [35]:
gambling_variety.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2054 entries, 39 to 2334
Data columns (total 1 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gambling_variety  2054 non-null   int64
dtypes: int64(1)
memory usage: 32.1 KB

In [36]:
gambling_variety.head()

       gambling_variety
SRCID
39                    0
156                   0
605                   2
41                    2
1295                  2

In [37]:
min_return = catalog.load("min_return")

2023-05-07 14:19:47,847 - kedro.io.data_catalog - INFO - Loading data from 'min_return' (CSVDataSet)...

In [38]:
min_return.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2054 entries, 39 to 2334
Data columns (total 1 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   min_annual_return  2037 non-null   float64
dtypes: float64(1)
memory usage: 32.1 KB

In [39]:
min_return.head()

       min_annual_return
SRCID
39                  0.12
156                 0.12
605                 0.25
41                  0.12
1295                0.32

In [40]:
other_features = catalog.load("other_features")

2023-05-07 14:19:47,928 - kedro.io.data_catalog - INFO - Loading data from 'other_features' (CSVDataSet)...

In [41]:
other_features.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2054 entries, 39 to 2334
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Q16a    2045 non-null   float64
 1   Q16b    2052 non-null   float64
 2   Q16c    2047 non-null   float64
 3   Q16d    2027 non-null   float64
 4   Q16e    2042 non-null   float64
 5   Q16f    2041 non-null   float64
 6   Q16g    2045 non-null   float64
 7   Q16h    2040 non-null   float64
 8   Q16i    2038 non-null   float64
 9   Q17a    2031 non-null   float64
 10  Q17b    2032 non-null   float64
 11  Q17c    1962 non-null   float64
 12  Q17d    2030 non-null   float64
 13  Q18     2052 non-null   float64
 14  Q20     2048 non-null   float64
 15  Q22     2048 non-null   float64
dtypes: float64(16)
memory usage: 272.8 KB

In [42]:
other_features.head()

,Q16a,Q16b,Q16c,Q16d,Q16e,Q16f,Q16g,Q16h,Q16i,Q17a,Q17b,Q17c,Q17d,Q18,Q20,Q22
SRCID,,,,,,,,,,,,,,,,
39,2.0,2.0,1.0,3.0,2.0,3.0,4.0,3.0,2.0,4.0,2.0,2.0,2.0,5.0,5.0,3.0
156,3.0,2.0,2.0,2.0,2.0,4.0,4.0,4.0,3.0,4.0,2.0,3.0,2.0,2.0,8.0,3.0
605,3.0,2.0,3.0,2.0,3.0,2.0,4.0,2.0,3.0,2.0,2.0,2.0,3.0,3.0,3.0,NaN
41,3.0,1.0,1.0,4.0,1.0,4.0,4.0,3.0,2.0,4.0,1.0,4.0,4.0,9.0,8.0,1.0
1295,2.0,1.0,3.0,3.0,2.0,3.0,2.0,3.0,2.0,2.0,2.0,3.0,3.0,6.0,8.0,1.0

In [43]:
# join the two dataframes on row index, keeping only common rows
model_input = other_features.join(min_return, how='inner')

In [44]:
model_input.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2054 entries, 39 to 2334
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Q16a               2045 non-null   float64
 1   Q16b               2052 non-null   float64
 2   Q16c               2047 non-null   float64
 3   Q16d               2027 non-null   float64
 4   Q16e               2042 non-null   float64
 5   Q16f               2041 non-null   float64
 6   Q16g               2045 non-null   float64
 7   Q16h               2040 non-null   float64
 8   Q16i               2038 non-null   float64
 9   Q17a               2031 non-null   float64
 10  Q17b               2032 non-null   float64
 11  Q17c               1962 non-null   float64
 12  Q17d               2030 non-null   float64
 13  Q18                2052 non-null   float64
 14  Q20                2048 non-null   float64
 15  Q22                2048 non-null   float64
 16  min_annual_return  2037 non-null   float64
dtypes: float64(17)
memory usage: 353.4 KB

In [45]:
model_input = model_input.join(risk_aversion, how='inner')
model_input = model_input.join(gambling_variety, how='inner')
model_input = model_input.join(target_variable, how='inner')

In [46]:
model_input.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2054 entries, 39 to 2334
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Q16a                         2045 non-null   float64
 1   Q16b                         2052 non-null   float64
 2   Q16c                         2047 non-null   float64
 3   Q16d                         2027 non-null   float64
 4   Q16e                         2042 non-null   float64
 5   Q16f                         2041 non-null   float64
 6   Q16g                         2045 non-null   float64
 7   Q16h                         2040 non-null   float64
 8   Q16i                         2038 non-null   float64
 9   Q17a                         2031 non-null   float64
 10  Q17b                         2032 non-null   float64
 11  Q17c                         1962 non-null   float64
 12  Q17d                         2030 non-null   float64
 13  Q18                          2052 non-null   float64
 14  Q20                          2048 non-null   float64
 15  Q22                          2048 non-null   float64
 16  min_annual_return            2037 non-null   float64
 17  risk_premium_normalised      2054 non-null   float64
 18  risk_aversion                2054 non-null   int64
 19  gambling_variety             2054 non-null   int64
 20  Q15a                         1208 non-null   float64
 21  Q15b                         1207 non-null   float64
 22  Q15c                         1208 non-null   float64
 23  Q15d                         1208 non-null   float64
 24  Q15e                         1208 non-null   float64
 25  Q15f                         1208 non-null   float64
 26  Q15g                         1208 non-null   float64
 27  Q15h                         1208 non-null   float64
 28  Q15i                         1207 non-null   float64
 29  gambling_problem             1208 non-null   float64
 30  gambling_problem_normalised  1208 non-null   float64
 31  gambling_problem_binary      1208 non-null   float64
dtypes: float64(30), int64(2)
memory usage: 594.1 KB

In [47]:
model_input.head()

,Q16a,Q16b,Q16c,Q16d,Q16e,Q16f,Q16g,Q16h,Q16i,Q17a,...,Q15c,Q15d,Q15e,Q15f,Q15g,Q15h,Q15i,gambling_problem,gambling_problem_normalised,gambling_problem_binary
SRCID,,,,,,,,,,,,,,,,,,,,,
39,2.0,2.0,1.0,3.0,2.0,3.0,4.0,3.0,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,3.0,2.0,2.0,2.0,2.0,4.0,4.0,4.0,3.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
605,3.0,2.0,3.0,2.0,3.0,2.0,4.0,2.0,3.0,2.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,36.0,0.0,0.0
41,3.0,1.0,1.0,4.0,1.0,4.0,4.0,3.0,2.0,4.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,36.0,0.0,0.0
1295,2.0,1.0,3.0,3.0,2.0,3.0,2.0,3.0,2.0,2.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,36.0,0.0,0.0

In [48]:
model_input = model_input.dropna(axis=0)

In [49]:
model_input.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1128 entries, 41 to 2334
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Q16a                         1128 non-null   float64
 1   Q16b                         1128 non-null   float64
 2   Q16c                         1128 non-null   float64
 3   Q16d                         1128 non-null   float64
 4   Q16e                         1128 non-null   float64
 5   Q16f                         1128 non-null   float64
 6   Q16g                         1128 non-null   float64
 7   Q16h                         1128 non-null   float64
 8   Q16i                         1128 non-null   float64
 9   Q17a                         1128 non-null   float64
 10  Q17b                         1128 non-null   float64
 11  Q17c                         1128 non-null   float64
 12  Q17d                         1128 non-null   float64
 13  Q18                          1128 non-null   float64
 14  Q20                          1128 non-null   float64
 15  Q22                          1128 non-null   float64
 16  min_annual_return            1128 non-null   float64
 17  risk_premium_normalised      1128 non-null   float64
 18  risk_aversion                1128 non-null   int64
 19  gambling_variety             1128 non-null   int64
 20  Q15a                         1128 non-null   float64
 21  Q15b                         1128 non-null   float64
 22  Q15c                         1128 non-null   float64
 23  Q15d                         1128 non-null   float64
 24  Q15e                         1128 non-null   float64
 25  Q15f                         1128 non-null   float64
 26  Q15g                         1128 non-null   float64
 27  Q15h                         1128 non-null   float64
 28  Q15i                         1128 non-null   float64
 29  gambling_problem             1128 non-null   float64
 30  gambling_problem_normalised  1128 non-null   float64
 31  gambling_problem_binary      1128 non-null   float64
dtypes: float64(30), int64(2)
memory usage: 290.8 KB

In [50]:
model_input.head()

,Q16a,Q16b,Q16c,Q16d,Q16e,Q16f,Q16g,Q16h,Q16i,Q17a,...,Q15c,Q15d,Q15e,Q15f,Q15g,Q15h,Q15i,gambling_problem,gambling_problem_normalised,gambling_problem_binary
SRCID,,,,,,,,,,,,,,,,,,,,,
41,3.0,1.0,1.0,4.0,1.0,4.0,4.0,3.0,2.0,4.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,36.0,0.0,0.0
1295,2.0,1.0,3.0,3.0,2.0,3.0,2.0,3.0,2.0,2.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,36.0,0.0,0.0
29,2.0,1.0,2.0,3.0,3.0,4.0,4.0,3.0,1.0,4.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,36.0,0.0,0.0
315,3.0,1.0,2.0,2.0,2.0,4.0,4.0,3.0,2.0,4.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,36.0,0.0,0.0
1625,2.0,2.0,3.0,2.0,3.0,2.0,3.0,3.0,2.0,2.0,...,4.0,4.0,4.0,4.0,4.0,4.0,4.0,36.0,0.0,0.0