In [17]:
import pandas as pd
import numpy as np

In [6]:
processed_data = catalog.load("processed_data")
codebook = catalog.load("processed_codebook")

2023-05-04 01:02:10,055 - kedro.io.data_catalog - INFO - Loading data from 'processed_data' (CSVDataSet)...
2023-05-04 01:02:10,090 - kedro.io.data_catalog - INFO - Loading data from 'processed_codebook' (CSVDataSet)...

In [7]:
r_cols = ['SRCID', 'R1', 'R2', 'R3', 'R4', 'R5', 'R6', 'R7', 'R8', 'R9', 'R10', 'R11',
       'R12', 'R13', 'R14', 'R15', 'R16', 'R17', 'R18', 'R19', 'R20', 'R21',
       'R22', 'R23', 'R24', 'R25', 'R26', 'R27', 'R28', 'R29', 'R30', 'R31']

In [8]:
df = processed_data[r_cols]

In [9]:
df.head()

,SRCID,R1,R2,R3,R4,R5,R6,R7,R8,R9,...,R22,R23,R24,R25,R26,R27,R28,R29,R30,R31
0,39,2.0,2.0,2.0,NaN,NaN,NaN,2.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,156,2.0,2.0,2.0,NaN,NaN,NaN,1.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,605,2.0,2.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,41,2.0,2.0,2.0,NaN,NaN,NaN,2.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1295,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
risk_premium_labels = codebook["risk_premium"].tolist()
risk_premium_labels.insert(0, 'SRCID')
risk_premium_labels

['SRCID',
 -30,
 210,
 330,
 270,
 240,
 300,
 390,
 360,
 420,
 90,
 150,
 180,
 120,
 30,
 0,
 60,
 -270,
 -150,
 -90,
 -120,
 -60,
 -210,
 -240,
 -180,
 -390,
 -330,
 -360,
 -300,
 -450,
 -420,
 -480]

In [13]:
df.rename(columns=dict(zip(r_cols, risk_premium_labels)), inplace=True)

2023-05-04 01:02:52,040 - py.warnings - WARNING - C:\Users\gdbt0\AppData\Local\Temp\ipykernel_14044\4037940090.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns=dict(zip(r_cols, risk_premium_labels)), inplace=True)

In [14]:
df.head()

,SRCID,-30,210,330,270,240,300,390,360,420,...,-210,-240,-180,-390,-330,-360,-300,-450,-420,-480
0,39,2.0,2.0,2.0,NaN,NaN,NaN,2.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,156,2.0,2.0,2.0,NaN,NaN,NaN,1.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,605,2.0,2.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,41,2.0,2.0,2.0,NaN,NaN,NaN,2.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1295,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2054 entries, 0 to 2053
Data columns (total 32 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   SRCID   2054 non-null   int64
 1   -30     2048 non-null   float64
 2   210     1899 non-null   float64
 3   330     1314 non-null   float64
 4   270     509 non-null    float64
 5   240     345 non-null    float64
 6   300     163 non-null    float64
 7   390     798 non-null    float64
 8   360     347 non-null    float64
 9   420     450 non-null    float64
 10  90      582 non-null    float64
 11  150     284 non-null    float64
 12  180     146 non-null    float64
 13  120     137 non-null    float64
 14  30      298 non-null    float64
 15  0       79 non-null     float64
 16  60      218 non-null    float64
 17  -270    149 non-null    float64
 18  -150    108 non-null    float64
 19  -90     73 non-null     float64
 20  -120    43 non-null     float64
 21  -60     30 non-null     float64
 22  -210    34 non-null     float64
 23  -240    24 non-null     float64
 24  -180    10 non-null     float64
 25  -390    40 non-null     float64
 26  -330    21 non-null     float64
 27  -360    10 non-null     float64
 28  -300    10 non-null     float64
 29  -450    19 non-null     float64
 30  -420    7 non-null      float64
 31  -480    12 non-null     float64
dtypes: float64(31), int64(1)
memory usage: 513.6 KB

In [18]:
df.nunique()

df.replace(-99.0, np.nan, inplace=True)
df.replace(-98.0, np.nan, inplace=True)

2023-05-04 01:03:17,299 - py.warnings - WARNING - C:\Users\gdbt0\AppData\Local\Temp\ipykernel_14044\1263146930.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace(-99.0, np.nan, inplace=True)

2023-05-04 01:03:17,300 - py.warnings - WARNING - C:\Users\gdbt0\AppData\Local\Temp\ipykernel_14044\1263146930.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace(-98.0, np.nan, inplace=True)

In [19]:
df.nunique()

SRCID    2054
-30         2
210         2
330         2
270         2
240         2
300         2
390         2
360         2
420         2
90          2
150         2
180         2
120         2
30          2
0           2
60          2
-270        2
-150        2
-90         2
-120        2
-60         2
-210        2
-240        2
-180        2
-390        2
-330        2
-360        2
-300        2
-450        2
-420        2
-480        2
dtype: int64

In [20]:
# define a lambda function to apply to each row
get_index = lambda row: row.index[row == 1.0].tolist()

# apply the lambda function to each row of the DataFrame
df["risk_premiums_to_bet"] = df.apply(get_index, axis=1)

2023-05-04 01:03:41,447 - py.warnings - WARNING - C:\Users\gdbt0\AppData\Local\Temp\ipykernel_14044\3932172176.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["risk_premiums_to_bet"] = df.apply(get_index, axis=1)

In [21]:
df["risk_premiums_to_bet"].fillna(0)

0                 [420]
1                 [390]
2       [330, 270, 240]
3                 [420]
4            [210, 180]
             ...
2049      [210, 90, 60]
2050              [390]
2051      [210, 90, 30]
2052         [390, 360]
2053         [330, 300]
Name: risk_premiums_to_bet, Length: 2054, dtype: object

In [22]:
# Check null values in the column
df["risk_premiums_to_bet"].isnull().all()

False

In [35]:
# Define a function to return the minimum value of a list
def get_min(lst):
    if len(lst) == 0:
        return None
    else:
        return min(lst)

# Apply the function to each row of the DataFrame and assign the result to a new column
df['min_risk_premium_to_bet'] = df["risk_premiums_to_bet"].apply(get_min)

2023-05-04 01:09:33,857 - py.warnings - WARNING - C:\Users\gdbt0\AppData\Local\Temp\ipykernel_14044\2469480881.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['min_risk_premium_to_bet'] = df["risk_premiums_to_bet"].apply(get_min)

In [38]:
feature = df[['SRCID','min_risk_premium_to_bet']]