In [20]:
import pandas as pd

In [21]:
df = catalog.load("intermediate_data")

2023-04-13 22:29:39,149 - kedro.io.data_catalog - INFO - Loading data from 'intermediate_data' (CSVDataSet)...

In [22]:
df.head()

,SRCID,IntDate,Mode,CF_Order,Q1,Q2,Q2_Oth,Q3,Q3_Oth,Q4,...,wt_design,wt_propensit,wt_base_anu,wt_wave_anu,weight_anu,p_gender_sdc,p_age_group_sdc,p_education_sdc,p_state_sdc,StateMap
0,39,2019-04-11,2,1,2,19,NaN,16.0,NaN,3,...,4695.4258,1.150989,5384.734620,853.713782,0.091853,2.0,3.0,1.0,1.0,1.0
1,156,2019-04-09,2,2,1,12,NaN,11.0,NaN,1,...,4997.3515,1.074450,5349.881695,908.609364,0.097759,2.0,4.0,1.0,1.0,1.0
2,605,2019-04-09,2,1,2,-98,NaN,NaN,NaN,3,...,16529.8031,1.074450,17695.871707,32062.736887,3.449705,2.0,3.0,3.0,1.0,1.0
3,41,2019-04-18,2,1,2,16,NaN,5.0,NaN,3,...,6108.6230,1.150989,7005.395282,5064.031682,0.544851,2.0,4.0,2.0,1.0,1.0
4,1295,2019-04-18,1,1,4,29,NaN,16.0,NaN,5,...,4100.6080,1.150989,4702.594994,8231.010107,0.885594,1.0,2.0,2.0,1.0,1.0

In [23]:
columns = df.columns

In [24]:
columns

Index(['SRCID', 'IntDate', 'Mode', 'CF_Order', 'Q1', 'Q2', 'Q2_Oth', 'Q3',
       'Q3_Oth', 'Q4',
       ...
       'wt_design', 'wt_propensit', 'wt_base_anu', 'wt_wave_anu', 'weight_anu',
       'p_gender_sdc', 'p_age_group_sdc', 'p_education_sdc', 'p_state_sdc',
       'StateMap'],
      dtype='object', length=202)

In [25]:
columns.get_loc("S1")

136

In [26]:
s_col = columns[136:167]

In [27]:
s_col

Index(['S1', 'S2', 'S3', 'S4', 'S5', 'S6', 'S7', 'S8', 'S9', 'S10', 'S11',
       'S12', 'S13', 'S14', 'S15', 'S16', 'S17', 'S18', 'S19', 'S20', 'S21',
       'S22', 'S23', 'S24', 'S25', 'S26', 'S27', 'S28', 'S29', 'S30', 'S31'],
      dtype='object')

In [28]:
catalog.list()

['raw_data', 'codebook', 'intermediate_data', 'parameters']

In [29]:
codebook_xls = pd.DataFrame(catalog.load("codebook"))

2023-04-13 22:29:39,306 - kedro.io.data_catalog - INFO - Loading data from 'codebook' (ExcelDataSet)...

In [30]:
labels = codebook_xls[['Variable', 'Position', 'Label']]

In [31]:
labels.dropna(inplace=True)

2023-04-13 22:29:39,417 - py.warnings - WARNING - C:\Users\gdbt0\AppData\Local\Temp\ipykernel_20076\3937756069.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  labels.dropna(inplace=True)

## Converts the labels of questions S1-S31 into annual return percentages

In [32]:
s_labels = labels.iloc[136:167]

In [33]:
s_labels["fv"] = s_labels["Label"].str.split(' ').str[8].str[1:].astype(int)

2023-04-13 22:29:39,464 - py.warnings - WARNING - C:\Users\gdbt0\AppData\Local\Temp\ipykernel_20076\3137119574.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s_labels["fv"] = s_labels["Label"].str.split(' ').str[8].str[1:].astype(int)

In [34]:
s_labels["annual_return"] = (s_labels["fv"] - 300) / 300

2023-04-13 22:29:39,480 - py.warnings - WARNING - C:\Users\gdbt0\AppData\Local\Temp\ipykernel_20076\2339710980.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  s_labels["annual_return"] = (s_labels["fv"] - 300) / 300

In [35]:
s_labels.head()

,Variable,Position,Label,fv,annual_return
724,S1,137.0,S1. Would you rather receive $300 today or $46...,462,0.54
728,S2,138.0,S2. Would you rather receive $300 today or $37...,375,0.25
732,S3,139.0,S3. Would you rather receive $300 today or $33...,336,0.12
736,S4,140.0,S4. Would you rather receive $300 today or $31...,318,0.06
740,S5,141.0,S5. Would you rather receive $300 today or $30...,309,0.03

## Converts the labels of questions R1-R31 into return values

In [36]:
r_labels = labels.iloc[105:135]

In [37]:
r_labels["risk_free_return"] = r_labels["Label"].str.split(' ').str[33].str[1:].astype(int)

2023-04-13 22:29:39,532 - py.warnings - WARNING - C:\Users\gdbt0\AppData\Local\Temp\ipykernel_20076\3879757768.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r_labels["risk_free_return"] = r_labels["Label"].str.split(' ').str[33].str[1:].astype(int)

In [38]:
r_labels["ev_gamble"] = 450
r_labels["risk_prem_scenario"] = r_labels["ev_gamble"] - r_labels["risk_free_return"]
r_labels.head()

2023-04-13 22:29:39,540 - py.warnings - WARNING - C:\Users\gdbt0\AppData\Local\Temp\ipykernel_20076\421842168.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r_labels["ev_gamble"] = 450

2023-04-13 22:29:39,542 - py.warnings - WARNING - C:\Users\gdbt0\AppData\Local\Temp\ipykernel_20076\421842168.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  r_labels["risk_prem_scenario"] = r_labels["ev_gamble"] - r_labels["risk_free_return"]

,Variable,Position,Label,risk_free_return,ev_gamble,risk_prem_scenario
591,R2,106.0,R2. What would you prefer: a 50 percent chance...,240,450,210
595,R3,107.0,R3. What would you prefer: a 50 percent chance...,120,450,330
599,R4,108.0,R4. What would you prefer: a 50 percent chance...,180,450,270
603,R5,109.0,R5. What would you prefer: a 50 percent chance...,210,450,240
607,R6,110.0,R6. What would you prefer: a 50 percent chance...,150,450,300