In [1]:
import pandas as pd
import numpy as np

In [2]:
catalog.list()

['raw_data', 'parameters']

In [3]:
df = pd.DataFrame(catalog.load("raw_data"))

2023-04-09 15:11:36,775 - kedro.io.data_catalog - INFO - Loading data from `raw_data` (CSVDataSet)...

In [4]:
# Replace empty strings with None values
df.replace(' ', np.nan, inplace=True)

In [5]:
df = df.convert_dtypes()

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2054 entries, 0 to 2053
Columns: 202 entries, SRCID to StateMap
dtypes: Float64(5), Int64(105), string(92)
memory usage: 3.4 MB

In [7]:
df.head()

,SRCID,IntDate,Mode,CF_Order,Q1,Q2,Q2_Oth,Q3,Q3_Oth,Q4,...,wt_design,wt_propensit,wt_base_anu,wt_wave_anu,weight_anu,p_gender_sdc,p_age_group_sdc,p_education_sdc,p_state_sdc,StateMap
0,39,4/11/2019,2,1,2,19,<NA>,16,<NA>,3,...,4695.4258,1.150989,5384.73462,853.713782,0.091853,2,3,1,1,1
1,156,4/9/2019,2,2,1,12,<NA>,11,<NA>,1,...,4997.3515,1.07445,5349.881695,908.609364,0.097759,2,4,1,1,1
2,605,4/9/2019,2,1,2,-98,<NA>,<NA>,<NA>,3,...,16529.8031,1.07445,17695.871707,32062.736887,3.449705,2,3,3,1,1
3,41,4/18/2019,2,1,2,16,<NA>,5,<NA>,3,...,6108.623,1.150989,7005.395282,5064.031682,0.544851,2,4,2,1,1
4,1295,4/18/2019,1,1,4,29,<NA>,16,<NA>,5,...,4100.608,1.150989,4702.594994,8231.010107,0.885594,1,2,2,1,1

In [12]:
df["IntDate"] = pd.to_datetime(df["IntDate"])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2054 entries, 0 to 2053
Columns: 202 entries, SRCID to StateMap
dtypes: Float64(5), Int64(105), datetime64[ns](1), string(91)
memory usage: 3.4 MB